{%load static%}
<nav class="blue darken-4">
  <div class="container" style="margin:10px" >
      <div class="nav-wrapper">
        <a  href="{% url 'news:articles-list' %}" class="brand-logo"><img src="{% static 'img/white_logo.png' %}" class="responsive-img" height="80" width="120" alt="Nishabd"></a>

          <!-- <a  class="brand-logo">Nishabd</a> -->
          <a class="button-collapse" data-activates="mobile-nav" href="#">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down" style="margin-right: -290px;">
            
              <li class=""><a class="nav-link" href="{% url 'news:articles-list' %}"> 
               <i class="material-icons">home</i></a></li>
               <li class=""><a class="" href="{% url 'article:articles'  %}">Articles</a></li>

              <li>
                <a  href="{% url 'about'  %}">About us</a>
              </li>
             
             
              <li class=""><a href="{% url 'article:Career' %}">Career</a></li>
              <li class=""><a  href="{% url 'article:Academics' %}">Academics</a></li>
              <li class=""><a  href="{% url 'article:Career' %}">Career</a></li>
              <li class=""><a  href="{% url 'article:Sciandtech' %}">Science & Technology</a></li>
              <li class=""><a  href="{% url 'article:Lifestyle' %}">Lifestyle</a></li> 


              <!-- DROPDOWN TRIGGER -->
              <li>
                  <a class="dropdown-button transparent z-depth-0 btn white-text" data-activates="my-dropdown" href="#!">
                    <i class="material-icons right">account_box</i>
                  </a>
              </li>

                 
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <li class=""><a class="nav-link" href="{% url 'news:articles-list' %}"> <i class="material-icons">home</i>Home</a></li>
            <li class="nav-item "><a class="nav-link" href="{% url 'article:articles'  %}"><i class="material-icons">article</i>Articles</a></li>
            <li><a  href="{% url 'about'  %}"><i class="material-icons">recent_actors</i>About us</a></li>    
            <li class=""><a  href="{% url 'article:Academics' %}"><i class="material-icons">book</i>Academics</a></li>
            <li class=""><a  href="{% url 'article:Career' %}"><i class="material-icons">school</i>Career</a></li>
            <li class=""><a  href="{% url 'article:Sciandtech' %}"><i class="material-icons">science</i>Science & Technology</a></li>
            <li class=""><a  href="{% url 'article:Lifestyle' %}"><i class="material-icons">self_improvement</i>Lifestyle</a></li> 
            {% if request.user.is_authenticated %}
            <li><a class="" href="{% url 'article:dashboard'  %}"><i class="material-icons">engineering</i>DashBoard</a></li>
            <li ><a  href="{% url 'news:feeds-list' %}"><i class="material-icons">chrome_reader_mode</i>Feeds</a></li>
            <li><a href="{% url 'user:logout'  %}"><i class="material-icons">logout</i>LogOut</a></li>
                     
            {% else %}
          
          <li>
          <a href="{% url 'user:login' %}">Admin LogIn<i class="material-icons">login</i>
          </a>
        </li>
        {% endif %}
            </ul>
      </div>
  </div>
</nav>


<ul id="my-dropdown" class="dropdown-content blue darken-4 z-depth-0 white-text" >  
  {% if request.user.is_authenticated %}
  <li>
    <a class="white-text" href="{% url 'article:dashboard'  %}"><i class="material-icons">settings_applications</i>DashBoard</a>
  </li>
  <li >
    <a class ="white-text" href="{% url 'user:logout'  %}"><i class="material-icons">logout</i>LogOut</a>
  </li>
  <li ><a class="white-text"  href="{% url 'news:feeds-list' %}">Feeds</a></li>

  {% else %}

<li>
<a class="white-text" href="{% url 'user:login' %}">Admin LogIn<i class="material-icons">login</i>
</a>
</li>
<!-- ICON LINK -->

{% endif %}


</ul>

 
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->

<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

<script>
    $(document).ready(function() {
        $('.dropdown-button').dropdown({
            constrainWidth: true,
            hover: true,
            belowOrigin: true,
            alignment: 'left'
        });

        
        $('.button-collapse').sideNav()
    });
</script>





