<nav class="navbar navbar-dark navbar-expand-sm  fixed-top bg-dark " style="background-color: #0275D8;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'articles-list'  %}">Nishabd</a>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto" id= "nav-item">
              <li class="nav-item"><a class="nav-link " href="{% url 'articles-list' %}">Home</a></li>
              <li class="nav-item "><a class="nav-link" href="{% url 'article:articles'  %}">Articles</a></li>
              <li class="nav-item "><a class="nav-link" href="{% url 'about'  %}">About us</a></li>
							<li class="nav-item "><a class="nav-link" href="{% url 'article:Academics' %}">Academics</a></li>
							<li class="nav-item "><a class="nav-link" href="{% url 'article:Career' %}">Career</a></li>
							<li class="nav-item "><a class="nav-link" href="{% url 'article:Sciandtech' %}">Science & Technology</a></li>
							<li class="nav-item "><a class="nav-link" href="{% url 'article:Lifestyle' %}">Lifestyle</a></li> 
          </ul>

          <ul class="navbar-nav ml-auto">
              {% if request.user.is_authenticated %}
              <li class="nav-item "><a class="nav-link" href="{% url 'feeds-list' %}">Feeds</a></li>

              <li class="nav-item ">
                <a class="nav-link" href="{% url 'article:dashboard'  %}">Control Panel</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'user:logout'  %}">Log out</a>
              </li>
              {% else %}

              <li class="nav-item ">
                <a class="nav-link" href="{% url 'user:login'  %}">Log in</a>
              </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'user:register'  %}">Register</a>
            </li>
             {% endif %}
          </ul>
        </div>
  
</nav>

<!-- Main Section -->
