{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="row container">
        <blockquote><h3>About Us</h3></blockquote>
        <div class="divider"></div>
        <p>
              
        </p>

        <div class="col s12 m6 l6 card hoverable"><div class="card blue-grey lighten-4">
                <div class=" card-image blue darken-4">
                    <img src="{% static 'img/white_logo.png' %}" alt="" style="max-height:auto;max-width: 100%;">
                    <span class="card-title">Nishabd</span>
                    <a class="btn-floating halfway-fab waves-effect waves-ligh blue">
                        <i class="material-icons">contact_mail</i>
                    </a>
                </div>
                <div class="card-content">
                    
                </div>
                
            </div><p>Nishabd is an online platform that bridges the gap to education and ground reality by sharing information and other relevant stuff and growth opportunities for youth across India 🇮🇳.
                Motto of Nishabd is to make the youth aware of new development and new opportunities and also to help them align their goal with the development of the society and of Country.
               </p></div>
        <!-- <div class="col s12 m4 l4 card hoverable"><div class="card blue-grey lighten-4">
                <div class=" card-image">
                        <img src="{#% static 'img/img1.jpg' %}" alt="" style="max-height:auto;max-width: 100%;">
                    <span class="card-title">Developer Info</span>
                    <a class="btn-floating halfway-fab waves-effect waves-ligh blue">
                        <i class="material-icons">contact_mail</i>
                    </a>
                </div>
                <div class="card-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi harum enim inventore ullam expedita nesciunt ea voluptatem corporis iusto sint?</p>
                </div>
            </div></div>
        <div class="col s12 m4 l4 card hoverable"><div class="card blue-grey lighten-4">
                <div class=" card-image">
                        <img src="{#% static 'img/img1.jpg' %}" alt="" style="max-height:auto;max-width: 100%;">
                    <span class="card-title">Developer Info</span>
                    <a class="btn-floating halfway-fab waves-effect waves-ligh blue">
                        <i class="material-icons">contact_mail</i>
                    </a>
                </div>
                <div class="card-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi harum enim inventore ullam expedita nesciunt ea voluptatem corporis iusto sint?</p>
                </div>
            </div></div> -->


            

</div>

<div class="divider"></div>


{% endblock body %}
