{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="row container">
        <blockquote><h3>About Us</h3></blockquote>
        <div class="divider"></div>
        <p>
              
        </p>

        <div class="col s12 m4 l4 card hoverable"><div class="card blue-grey lighten-4">
                <div class=" card-image">
                    <img src="{% static 'img/white_logo.png' %}" alt="" style="max-height:auto;max-width: 100%;">
                    <span class="card-title">Developer Info</span>
                    <a class="btn-floating halfway-fab waves-effect waves-ligh blue">
                        <i class="material-icons">contact_mail</i>
                    </a>
                </div>
                <div class="card-content">
                    
                </div>
                
            </div><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi harum enim inventore ullam expedita nesciunt ea voluptatem corporis iusto sint?</p></div>
        <!-- <div class="col s12 m4 l4 card hoverable"><div class="card blue-grey lighten-4">
                <div class=" card-image">
                        <img src="{#% static 'img/img1.jpg' %}" alt="" style="max-height:auto;max-width: 100%;">
                    <span class="card-title">Developer Info</span>
                    <a class="btn-floating halfway-fab waves-effect waves-ligh blue">
                        <i class="material-icons">contact_mail</i>
                    </a>
                </div>
                <div class="card-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi harum enim inventore ullam expedita nesciunt ea voluptatem corporis iusto sint?</p>
                </div>
            </div></div>
        <div class="col s12 m4 l4 card hoverable"><div class="card blue-grey lighten-4">
                <div class=" card-image">
                        <img src="{#% static 'img/img1.jpg' %}" alt="" style="max-height:auto;max-width: 100%;">
                    <span class="card-title">Developer Info</span>
                    <a class="btn-floating halfway-fab waves-effect waves-ligh blue">
                        <i class="material-icons">contact_mail</i>
                    </a>
                </div>
                <div class="card-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi harum enim inventore ullam expedita nesciunt ea voluptatem corporis iusto sint?</p>
                </div>
            </div></div> -->


            

</div>

<div class="divider"></div>


{% endblock body %}
