
{% extends 'layout.html'%}



        {% block content %}
        {% load crispy_forms_tags %}

<div class="row container" style="margin:150px;margin-top: 50px;">
    <div class="">
        <blockquote>Create Article</blockquote>
        <hr>
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <br>
            <button type = "submit" class = "btn btn-danger">Add Article</button>
        </form>
    </div>
  </div>


     {% endblock content %}
            
                       <!-- Latest compiled and minified jQuery & Bootstrap JavaScript -->


