{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="container">
<blockquote><h3>Control Panel</h3></blockquote>
<div class="divider"></div>
<p>
    Welcome, {{request.user.username}}
</p>
<div class="  penci-post-author penci_media_object wrapper">
  <div class="  wrapper">
    <div class="">
  {% if user.profile_picture %}
  <img class="left" src="{{user.profile_picture.url}}" alt="" style="max-height:8em;max-width:8em;padding: .3em;">
  {% endif %}
  
  <h5 class=" ">{{user.name}} </h5>
</div>
<div class="penci-author-content ">
  <p class=" " style="font-size: 1.2em;">
    {{user.about|safe}}
  </p>
</div>
   
    
</div>
</div>
<a class = "btn btn-danger black left" href="{% url 'user:profile'  %}"><i class="material-icons">face</i>Edit Profile</a>

<a class = "btn btn-danger black right" href = "{% url 'article:addarticle' %}">Add Article </a>
{% if articles %}
<table class="table container responsive striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Article</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Approved</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
          <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="{% url 'article:detail' article.slug %}">{{article.title}}...</a></td>
            <td>{{article.author.username}}</td>
            <td>{{article.created_date}}</td>
            {% if not article.approved %}
            <td><a href="{% url 'article:update' article.slug %}" class = "btn btn-warning green">edit</a></td>
            <td><a href="{% url 'article:delete' article.slug %}" class = "btn btn-safe red">Delete</a> </td>
            {% else %}
            <td><a href="{% url 'article:update' article.slug %}" class = "btn btn-warning green disabled">edit</a></td>
            <td><a href="{% url 'article:delete' article.slug %}" class = "btn btn-safe red disabled">Delete</a> </td>
            {% endif %}
            <td>{{article.approved}}</td>
              
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
{% else %}
<div class="divider"></div>
<div class = "alert alert-danger">
    No Articles found...

</div>
{% endif %}



{% endblock body %}

</div>

