{% extends "layout.html" %}

{% block body %}
<div class="row container">

    <!-- Post Content Column -->
    <div class="col m12 s12 ">

      <!-- Title -->
      <blockquote class=""><h2>{{article.title}}</blockquote</h2></blockquote>
      <div class="divider"></div>
      <!-- Author -->
      <p class="lead">
        <i class="material-icons">person</i> {{article.author.username}}
      </p>

      

      <!-- Date/Time -->
      <p>{{article.created_date}}</p>

      <div class="divider"></div>

      <!-- Preview Image -->
      <div class="center">
      {% if article.article_image %}
      <img class="card hoverable center" src="{{article.article_image.url}}" alt="" style="max-height:500px;max-width:100%;">
      {% endif %}
    </div>

      <div class="divider"></div>

      <!-- Preview Image -->
      {% if article.article_image2 %}
      <img class="card hoverable" src="{{article.article_image2.url}}" alt="" style="max-height:500px;max-width:100%">
      {% endif %}
     

      <br>
      <!-- Post Content -->
      <blockquote class="lead flow-text">
          {{article.content|safe}}
      </blockquote>

      <div class="divider"></div>

      <h4>Comments {% if comments %}({{comments.count }}){% endif %}</h4>
      <div class="divider"></div>
      {% if comments %}
      {% for comment in comments  %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{ comment.comment_author}}</h5>
            {{comment.comment_date}} <br>
            {{comment.comment_content}}
          </div>
        </div>
      {% endfor %}
      
      
      {% else %}
      <div class ="alert alert-danger">
        There are no comments to this article, be the first!      </div>
      {% endif %}

      <div class="card col hoverable container">
          <h5 class="card-title">Add Comment: </h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'article:comment' article.slug %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="formGroupExampleInput">İsim</label>
                  <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your name">
                </div>
              <div class="form-group">
                  <label for="formGroupExampleInput">Comment</label>
                <textarea name = "comment_content" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-large right my-3">Add</button>
            </form>
          </div>
        </div>
        </div>
        
      </div>

      

{% endblock body %}
