{% extends "layout.html" %}

{% block body %}
<div class="row container">

    <!-- Post Content Column -->
    <div class="col m12 s12 ">

      <!-- Title -->
      <blockquote class=""><h2>{{article.title}}</blockquote</h2></blockquote>
      <div class="divider"></div>
      <!-- Author -->
      <p class="lead">
        <i class="material-icons">person</i> {{article.author.username}}
      </p>

      

      <!-- Date/Time -->
      <p>{{article.created_date}}</p>

      <div class="divider"></div>

      <!-- Preview Image -->
      <div class="center">
      {% if article.article_image %}
      <img class="card hoverable center" src="{{article.article_image.url}}" alt="" style="max-height:500px;max-width:100%;">
      {% endif %}
    </div>

      <div class="divider"></div>

      <!-- Preview Image -->
      {% if article.article_image2 %}
      <img class="card hoverable" src="{{article.article_image2.url}}" alt="" style="max-height:500px;max-width:100%">
      {% endif %}
     

      <br>
      <!-- Post Content -->
      <blockquote class="lead flow-text">
          {{article.content|safe}}
      </blockquote>

      <div class="divider"></div>

      
      <div class="divider"></div>
      {% if author %}
      <div class="  penci-post-author penci_media_object wrapper">
        <div class="  wrapper">
          <div class="">
        {% if author.profile_picture %}
        <img class="left" src="{{author.profile_picture.url}}" alt="" style="max-height:8em;max-width:8em;padding: .3em;">
        {% endif %}
        
        <h5 class=" ">{{author.name}} </h5>
      </div>
      <div class="penci-author-content ">
        <p class=" " style="font-size: 1.2em;">
          {{author.about|safe}}
        </p>
        <!-- <h6 class="" style="text-align: left; float: right;">{{author.about}}</h6> -->
      </div>
          {% endif %}
          
      </div>
    </div>

{% endblock body %}
