{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}

<div class="row container">
    <div class="col-md-6 offset-md-5">
        <blockquote><h3>Administrator Log In</h3></blockquote>
        <br>

        <h6>Login using your credential</h6>
        <br>
        <div class="divider"></div>
        <form method = "post">
            {% csrf_token %}
            
            {{form|crispy}}
            <br>
            <button type = "submit" class = "btn btn-danger">Log In</button>
        </form>
    </div>

    <div><p></p></div>
  </div>

  <br>
  <br>

{% endblock body %}
