{% extends "layout.html" %}
{% load static %}



{% block sidebar %}

	
	
    {% endblock %}
{% block content %}
<div class=" container">
    
	<!-- <nav class=" white lighten-6"> -->
	<div class="container white">
		<form>
		{% csrf_token %} 
		<table><tr class=""><td><input type="text" name="keyword" placeholder="search articles. . " required id="search"></td><td></label>
			<button class="black-text"> <i class="material-icons">search</i></button>
		   </label></td></tr></table>
	</form>
	</div>

</div>

<div class="container row s9 " >
         <!-- Teal page content  -->
		<div class="content-heading a2">
	    	<!-- <div class="pull-right">
	          	<div class="btn-group">
	             	<button type="button" data-toggle="modal" data-target="#new-feed-modal" class="btn btn-default">New Feed</button>
	          	</div>
	       	</div> -->
			{% if feed %}
				{{ feed.title }}
			{% else %}
	       		News Articles
			{% endif %}
		</div>
		<div class="center" id="loading-wrapper">
			<div class="sk-cube-grid">
			  	<div class="sk-cube sk-cube1"></div>
			  	<div class="sk-cube sk-cube2"></div>
			  	<div class="sk-cube sk-cube3"></div>
			  	<div class="sk-cube sk-cube4"></div>
			  	<div class="sk-cube sk-cube5"></div>
			  	<div class="sk-cube sk-cube6"></div>
			  	<div class="sk-cube sk-cube7"></div>
			  	<div class="sk-cube sk-cube8"></div>
			  	<div class="sk-cube sk-cube9"></div>
			</div>
			<div class="text-center">
				<p id="loading-message"></p>
			</div>
		</div>

		<div id="articles-wrapper" class="row col row-masonry row-masonry-xl-3">
		
		</div>
      </div>
	
{% endblock %}


{% block javascript %}
<script >
	alert(getQueryString('keyword'))
</script>
	<script src="{% static 'js/loading.js' %}"></script>
	<script src="{% static 'js/pagination.js' %}"></script>
	<script src="{% static 'js/articles.js' %}"></script>
{% endblock %}
