{% extends "layout.html" %}
{% load static %}



{% block sidebar %}

	
	
    {% endblock %}
{% block content %}

<div class="container row s9 " >
         <!-- Teal page content  -->
		<div class="content-heading a2">
	    	<!-- <div class="pull-right">
	          	<div class="btn-group">
	             	<button type="button" data-toggle="modal" data-target="#new-feed-modal" class="btn btn-default">New Feed</button>
	          	</div>
	       	</div> -->
			{% if feed %}
				{{ feed.title }}
			{% else %}
	       		News Articles
			{% endif %}
		</div>
		<div id="loading-wrapper">
			<div class="sk-folding-cube">
			  	<div class="sk-cube1 sk-cube "></div>
			  	<div class=" sk-cube2 sk-cube"></div>
			  	<div class="sk-cube4 sk-cube"></div>
			  	<div class="sk-cube3 sk-cube"></div>
			  	 
			</div>
			<div class="text-center">
				<p id="loading-message"></p>
			</div>
		</div>

		<div id="articles-wrapper" class="row-masonry row-masonry-xl-3">
		
		</div>
      </div>
	
{% endblock %}


{% block javascript %}
	<script src="{% static 'js/loading.js' %}"></script>
	<script src="{% static 'js/pagination.js' %}"></script>
	<script src="{% static 'js/articles.js' %}"></script>
{% endblock %}
