{% extends "layout.html" %}
{% load static %}

{% block sidebar %}
	<!-- Articles Sidebar -->
    <aside class="aside">
       	<div class="sidebar" style="overflow-y: hidden;">
          	<nav data-sidebar-anyclick-close="" >
             	<ul class="navbar-nav mr-auto list-group  sidebar-subnav ">
                	<li class="navbar">
                   		<span><h4>Feed Navigation</h4></span>
                	</li>
                	<li class=" ">
                   	 	<a class="list-group-item" href="{% if feed %}{{ request.path }}{% else %}{% url 'articles-list' %}{% endif %}" title="News Articles">
                      		<h5><em class="icon-grid"></em>
                      	  	<span>All Articles</span></h5>
                   	 	</a>
                	</li>
					<li class=" ">
						<a  class="list-group-item" href="#nav-settings" title="Feed Settings" data-toggle="collapse" aria-expanded="false">
							<h5 ><em class="icon-settings"></em>
							<span >Feed Settings</span></h5>
						</a>
						<ul id="nav-settings" class="list-group sidebar-subnav collapsing collapse in " aria-expanded="true">
							<li class="sidebar-subnav-header">Feed Settings</li>
							<!-- <ul class="list-group"> -->
							<li >
								<a class="list-group-item " href="{{ request.path }}?days=7" title="Articles from Last 7 Days">
									<span>Last 7 Days</span>
								</a>
							</li>
							<li>
								<a class="list-group-item " href="{{ request.path }}?days=30" title="Articles from Last 30 Days">
									<span>Last 30 Days</span>
								</a>
							</li>
							<li>
								<a class="list-group-item " href="{{ request.path }}?days=90" title="Articles from Last 90 Days">
									<span>Last 90 Days</span>
								</a>
							</li>
							<li>
								<a class="list-group-item " href="{{ request.path }}?days=180" title="Articles from Last 6 Months">
									<span>Last 6 Months</span>
								</a>
							</li>
							<li>
								<a class="list-group-item " href="{{ request.path }}?days=365" title="Articles from Last 12 Months">
									<span>Last 12 Months</span>
								</a>
							</li>
						</ul>
						</ul>
					</li>
             	</ul>
          	</nav>
       	</div>
   	</aside>
{% endblock %}

{% block content %}
	<!-- Page Content -->
	<div class="content-wrapper">
		<div class="content-heading">
			{% if request.user.is_authenticated %}
	    	<div class="pull-right">
	          	<div class="btn-group">
	             	<button type="button" data-toggle="modal" data-target="#new-feed-modal" class="btn btn-default">New Feed</button>
	          	</div>
			   </div>
			   {% endif %}
			{% if feed %}
				{{ feed.title }}
			{% else %}
	       		News Articles
			{% endif %}
		</div>
		<div id="loading-wrapper">
			<div class="sk-folding-cube">
			  	<div class="sk-cube1 sk-cube "></div>
			  	<div class=" sk-cube2 sk-cube"></div>
			  	<div class="sk-cube4 sk-cube"></div>
			  	<div class="sk-cube3 sk-cube"></div>
			</div>
			<div class="text-center">
				<p id="loading-message"></p>
			</div>
		</div>

		<div id="articles-wrapper" class="row-masonry row-masonry-xl-3">
			<!-- Insert Articles Here with JavaScript -->
		</div>
	</div>
	<a href="#" class="back-to-top">Back to Top</a>
{% endblock %}

{% block footer %}
	<div id="pagination-wrapper" style="display: none;"></div>
{% endblock %}

{% block javascript %}
	<!-- Custom Articles List JavaScript -->
	<script src="{% static 'js/loading.js' %}"></script>
	<script src="{% static 'js/pagination.js' %}"></script>
	<script src="{% static 'js/articles.js' %}"></script>
{% endblock %}
