{% extends "layout.html" %}
{% load static %}



{% block sidebar %}
	<!-- Articles Sidebar -->
	
	
	<div class="row">

      <div class="col s3 " style="max-width: 20em;">
        <!-- Grey navigation panel -->
		<div class="side-nav  settings gray "  style="margin-top: 75px;padding: 20px; ">
                	<div class="card-title">
                		<ul>
                   		<!-- <li ><a href="" ><i class="material-icons">apps</i>Feed Navigation</a></li> -->
                	

                	
                	<li class="active" style="list-style-type: none">
                   	 	<a href="{% if feed %}{{ request.path }}{% else %}{% url 'articles-list' %}{% endif %}" title="News Articles">
                      		
                      	  	<span>All Articles</span>
                   	 	</a>
                	</li>
                </ul>
                </div>
					<div>
						<li style="list-style-type: none" class="grey">
						<!-- <a href="#nav-settings" title="Feed Settings" data-toggle="collapse" aria-expanded="true">
							
							<i class="material-icons">settings</i>Settings
						</a>
					    </li>
						<ul id="nav-settings" class="nav sidebar-subnav collapse in" aria-expanded="true">
							<li class="sidebar-subnav-header"><a href=""></i>Feed Settings</a></li>-->
							<li> 
								<a href="{{ request.path }}?days=7" title="Articles from Last 7 Days">
									<span>Last 7 Days</span>
								</a>
							</li>
							<li>
								<a href="{{ request.path }}?days=30" title="Articles from Last 30 Days">
									<span>Last 30 Days</span>
								</a>
							</li>
							<li>
								<a href="{{ request.path }}?days=90" title="Articles from Last 90 Days">
									<span>Last 90 Days</span>
								</a>
							</li>
							<li>
								<a href="{{ request.path }}?days=180" title="Articles from Last 6 Months">
									<span>Last 6 Months</span>
								</a>
							</li>
							<li>
								<a href="{{ request.path }}?days=365" title="Articles from Last 12 Months">
									<span>Last 12 Months</span>
								</a>
							</li>
						</ul>
					</div>
             	
      </div>


    </div>
	
	
    {% endblock %}
{% block content %}

<div class="container row s9" >
         <!-- Teal page content  -->
		<div class="content-heading a2">
	    	<div class="pull-right">
	          	<div class="btn-group">
	             	<button type="button" data-toggle="modal" data-target="#new-feed-modal" class="btn btn-default">New Feed</button>
	          	</div>
	       	</div>
			{% if feed %}
				{{ feed.title }}
			{% else %}
	       		News Articles
			{% endif %}
		</div>
		<div id="loading-wrapper">
			<div class="sk-folding-cube">
			  	<div class="sk-cube1 sk-cube "></div>
			  	<div class=" sk-cube2 sk-cube"></div>
			  	<div class="sk-cube4 sk-cube"></div>
			  	<div class="sk-cube3 sk-cube"></div>
			  	 
			</div>
			<div class="text-center">
				<p id="loading-message"></p>
			</div>
		</div>

		<div id="articles-wrapper" class="row-masonry row-masonry-xl-3">
		
		</div>
      </div>
	
{% endblock %}

{% block footer %}
	<div id="pagination-wrapper" style="display: none;"></div>
{% endblock %}

{% block javascript %}
<script>
   $(document).ready(function() {

            // JAVASCRIPT START HERE //
            $('.button-collapse').sideNav({
                menuWidth: 300,
                edge: 'left',
                draggable: true,
                // onOpen: function() {
                //     console.log('Menu Open')
                // },
                // onClose: function() {
                //     console.log('Menu Close')
                // }
            });



        });
</script>
	
	<script src="{% static 'js/loading.js' %}"></script>
	<script src="{% static 'js/pagination.js' %}"></script>
	<script src="{% static 'js/articles.js' %}"></script>
{% endblock %}
